.app-badges  {
  
  @media screen and (max-width: 500px) {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    
    width: 100%;
    margin-top: 40px;
  }
  
}
.app-badges a {
    margin: 0 0 20px;
    border-radius: 50px;
    display: block;
    width: 180px;
    height: 60px;
    background-size: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    text-decoration: none;
    background-color: hsla(0,0%,100%,0);
    background-color: #000;
  
    @media screen and (max-width: 500px) {
        width: 100%;
        background-size: 60%;
        background-position: 50% -3px;
    }
  
}

.app-badges__google {
    background-image: url(../../assets/img/google-play.svg);
}

.app-badges__apple {
    background-image: url(../../assets/img/app-store.svg);
}

.mobile.iPad a[class*='_google'],
.mobile.iPhone a[class*='_google'],
.mobile.iPod a[class*='_google'],
.mobile.ipad a[class*='_google'],
.mobile.iphone a[class*='_google'],
.mobile.safari a[class*='_google'] {
  display: none;
}

.mobile.Android a[class*='_apple'],
.mobile.Linux a[class*='_apple'],
.mobile.android a[class*='_apple'],
.mobile.linux a[class*='_apple'],
  {
  display: none;
}