.btn {
  background: rgba(239,93,142, 1);
  color: #fff;
  transition: all .3s;
  padding: 12px 18px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 16px;
}

.btn:hover {
  background: rgba(239,93,142, 0.8);
  transition: all .3s;
}

.btn_m {
  padding: 18px 20px;
  font-size: 20px;
}

.btn-group {
  margin-top: 40px 
}
.btn_line {
  background: transparent;
  color: rgb(26, 93, 200);
  border: 1px solid rgb(26, 93, 200);
}

.btn_line:hover {
  background: rgb(26, 93, 200);
  color: #fff;
} 

.btn_dubble-width {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
}