.footer {
  display: flex;
  min-height: 100px;
  padding: 40px 0;
  color: rgba(255, 255, 255, 0.33);
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
}

.footer__navigation {
}

.footer__navigation a {
  margin-right: 20px;
}

.footer a {
  color: rgba(255, 255, 255, 0.7);
}

.footer a:hover {
  color: rgba(255, 255, 255, 1);
  
}

.footer__contact {
  display: flex;
  margin-top: 20px;
}

.footer__contact:before {
  content: '';
    display: inline-block;
    width: 20px;
    height: 95px;
    min-width: 32px;
    min-height: 59px;
    background-image: url(../../assets/img/gb-bban.svg);
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-right: 1rem;
    opacity: .3;
}