.page {
  @media screen and (max-width: 500px) {
    width: 100vw;  
  }
}

.page__outer {
  display: flex;
  justify-content: center;
  padding: 0 12px;
}

.page__inner {
  width: 1024px;
  box-sizing: border-box;
  padding: 0 12px;
  
  @media screen and (max-width: 500px) {
    width: 100%;  
  }
}

.page_blue {
  background: rgb(26, 93, 200);
  color: #fff;
}

.page_white {
  background: #fff;
}

.page_footer {
  background-color: rgb(15, 23, 38);
}