.promo {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 60vh;
  max-height: 470px;
  
  @media screen and (max-width: 500px) {
    
  }
  
}

.promo_main {
  background: url(../../assets/img/cover.png);
  background-position: 100% 90%;
  background-repeat: no-repeat;
  background-size: 50% auto;
  margin: 0 0 120px 0;
  box-sizing: border-box;
  
  @media screen and (max-width: 500px) {   
    padding:80px 0 0 0;
    background-position: 50% 75%;
    max-height: none;
    height: 70vh;
    margin: 0!important;
  }
  
  @media screen and (max-width: 500px) and (max-height: 600px) {
    background-size: 70%;
  }
  
  
  @media screen and (max-width: 500px) and (max-height: 850px) {
    background-size: 90%;
    height: 580px;
  }
  
}

.promo_blue {
  background: url(../../assets/img/screen.png);
  background-position: 100% 5%;
  background-repeat: no-repeat;
  background-size: 60% auto;
  margin: 0 0 80px 0;
  
  @media screen and (max-width: 500px) {
    margin: 30px 0 40px!important;
    background-position: bottom;
    height: 690px;
    max-height: none;
    display: block;
    background-size: contain;
  }
  
  
}

.promo__content {
  
  @media screen and (max-width: 500px) {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
  }

}

.promo__content p {
  line-height: 30px;
  
  @media screen and (max-width: 500px) {
    font-size: 16px;
    line-height: 25px;
  }

}

.promo_blue h2 {
  color: #fff;
  
  @media screen and (max-width: 500px) {
    text-align: left;  
  }
}

.promo_blue .promo__content {
  @media screen and (max-width: 500px) {
    height: auto;  
  }
}

.promo_blue .promo__content ul {
  width: 40%;
  font-size: 16px;
  line-height: 25px;
  list-style: none;
  counter-reset: section;
  margin: 0;
  padding: 0;
  
  @media screen and (max-width: 500px) {
    
    width: 100%;
    text-align: left;
    
  }
  
}

.promo_blue .promo__content ul li {
  margin: 20px 0 30px;  
  display: flex;
  
}

.promo_blue .promo__content ul li::before {
  counter-increment: section;
  content: counters(section,".") " ";
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  min-height: 42px;
  min-width: 42px;
  border-radius: 50%;
  border: solid 1.5px rgba(255,255,255,.95);
  color: #fff; 
  margin-right: 20px;
  font-size: 20px;
  box-sizing: border-box;
  padding-top: 3px;
}

.promo_footer {
  background: url(../../assets/img/cover.png);
  background-position: 16% 105%;
  background-repeat: no-repeat;
  background-size: 45% auto;
  margin: 0px 0 40px;
  height: 370px;
  
  @media screen and (max-width: 500px) {
    background-position: 50% 50%;
    background-size: 70% auto;
    height: 340px;
    margin: 40px 0;
  }
  
}

.promo_footer .promo__content {
  width: 40%;
  margin-left: 60%;  
  text-align: center;
  
  @media screen and (max-width: 500px) {
    width: 100%;
    margin: 0;
  }
  
}


